

.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 15rem;

    background-image: url(../../assets/images/orange-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        color: rgba(255,255,255,0.85);
        font-weight: bold;
    }
}